// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

*{
    font-family: 'Righteous', cursive;
    
}


.toastOk{
    --background:rgb(61, 201, 66);
    --box-shadow: 4px 4px 8px 1px rgb(96, 155, 91);
    --border-radius: 10px 10px 10px 10px;
    // --width: 400px;
    // --min-width: 250px;
    // --max-width: 500px;
    --height: 100px;

}

.toastFail{
    --background:rgb(167, 75, 33);
    --box-shadow: 4px 4px 8px 1px rgb(138, 96, 89);
    --border-radius: 10px 10px 10px 10px;
    // --min-width: 250px;
    // --max-width: 500px;
    // --width: 400px;
    --height: 100px;
}