<ion-header>
  <ion-toolbar>
    <ion-title>ALARMA</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content padding>
  
    <ion-card>
        <ion-card-header>
          
          <ion-card-title *ngIf="activar">ACTIVAR</ion-card-title>
          <ion-card-title *ngIf="!activar">DESACTIVAR</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img (click)="Accelerometer()" *ngIf="activar" no-margin no-padding src="../../assets/BOTON ENCENDIDO.JPG">
          <img (click)="Frenar()" *ngIf="!activar" no-margin no-padding src="../../assets/Boton Apagado.JPG">         
        </ion-card-content>
    </ion-card>


   
    
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title id="titleFooter">Desarrollado por DevDv - Damián Vogel - PSS 4º A</ion-title>
  </ion-toolbar>
</ion-footer>