<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Relevamiento Visual</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
           
             
                <ion-img [src]="rutaImagen"  width="150px" height="150px" alt="" srcset=""></ion-img>
                <!-- <img [src]="./antiLadriAPP/resources/icon.png"  width="200px" height="200px" alt="" srcset=""> -->
                           
              <!-- <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>AntiLadriApp</ion-card-subtitle>
                  
                </ion-card-header>
             
                <ion-card-content>
                </ion-card-content>
              </ion-card> -->

           
            
            <form [formGroup]="formGroup">
            <div padding>
                         
              
                <ion-input
                
                  formControlName="email"
                  type="email" 
                  placeholder="Ingrese su correo electronico...." 
                  autofocus="true"       
                ></ion-input>
             
    
              
                <ion-input 
                  
                  formControlName="clave"
                  type="password" 
                  placeholder="Ingrese su contraseña"        
                ></ion-input>
              
           
              
              <ion-button 
                expand="full" 
                color="primary"
                (click)="enviar()"
                [disabled]="formGroup.invalid"
                >Conectarse
              </ion-button>
              
              <ion-button 
                color="tertiary" 
                expand="full" 
                (click)="mostrarUsuarios()"  
                >Usuarios Test
              </ion-button>

            </div>
          </form>         
                      
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
