<ion-header>
</ion-header>

<ion-content color="light" class="">
  <div class="ion-padding ion-justify-content-center login">
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <div id="divBotones">
      <ion-button expand="block">Aceptar</ion-button>
      <!-- <ion-button id="botonCancelar" color="secondary" expand="block">Cancelar</ion-button> -->
    </div>  
  </div>
</ion-content>
