.label{
    font-family: 'Righteous', cursive;;
}

ion-img{  
      
    height: 25vh !important;
    width: auto !important;
    margin: auto !important;
    display: block !important;
    padding-bottom: 10px;
}

ion-button{
    
}