<ion-header>
  
</ion-header>

<ion-content>
  
  <form>
    <ion-item>
      <ion-input
        class="label"
        [(ngModel)]="this.email"
        type="email" 
        placeholder="Ingrese su correo electronico...." 
        autofocus="true"
        [ngModelOptions]="{standalone: true}"
        required>        
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input 
        class="label"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="this.clave"
        type="password" 
        placeholder="Ingrese su contraseña"
        required
      ></ion-input>
    </ion-item>

    <ion-button 
      expand="full" 
      color="success"
      (click)="enviar()"
      >Conectarse
    </ion-button>
  </form>    

  

  
  


</ion-content>
