<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cosas Lindas</ion-card-title>
    </ion-card-header>
    
    <ion-img [src]="casaLinda"></ion-img>

    <ion-card-content>
      Sacar una foto de algo que te guste!!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cosas Feas</ion-card-title>
    </ion-card-header>

    <ion-img [src]="casaFea"></ion-img>
  
    <ion-card-content>
      Mostranos que es lo que te parece feo...
    </ion-card-content>
  </ion-card>
</ion-content>
