ion-card{
    --background:#ffff;  

}

ion-img{
    background: #A58989;
    height: 25vh !important;
    width: auto !important;
    margin: auto !important;
    display: block !important;
    padding-bottom: 10px;
}



