<ion-header>
  <ion-toolbar>
    <ion-title>
      Consorcio App!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conectarse!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Aca va tu correo</ion-label>
        <ion-input autofocus="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Por aca la contraseña</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

</ion-content>
